ul.huncutkodas {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c0e31;
}

li.huncutkodas {
    float: left;
}

a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.a:hover:not(.active) {
    background-color: #251c52;
}

.active {
    background-color: #ffffff;
    color: black;
}


body {
    background-color:rgb(22, 18, 82)
}

body {
    color: #ffd300;
}

body.csiga-sex {
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    background-image: url(img/csiga-sex.jpg);
}

body.start {
    background-image: url(img/venamded.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
body.susu {
    background-image: url(img/suli.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

table {
    background-color: #5c5858;
    color: cyan;
}
body.kaja {
    background-image: url(img/pizza.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}

.content{
    top: 40px;
  
}

div {
    float: left;
  }


  img.evszak {
    border: 7px solid rgb(0, 0, 0);
    border-radius: 5%;
    width: 250px;
    margin: 20px;
    transition: 1s;
  }

  img.evszak:hover {
    transform: scale(1.08);
  }

  img.evszak:hover + p {
    font-size: xx-large
  }

  p.evszak {
    font-size: large;
    font-family: 'Times New Roman,' Times, serif;
    text-align: center;
    transition: 1s;
     }
     